---
id: @model.id
# title max 64 chars
title: @model.title
title_en: @model.title_en
sections: @model.sections
---

<!-- Краткое описание (от 100 до 512 символов) -->
```summary
@model.summary
```

<!-- Чему вы научитесь -->
<!-- Каждый пункт начинайте с новой строки -->
```acquired_assets
@model.acquired_assets
```

<!-- О курсе -->
```description
@model.description
```

<!-- Для кого этот курс -->
```target_audience
@model.target_audience
```

<!-- Начальные требования -->
```requirements
@model.requirements
```

<!-- Как проходит обучение -->
```learning_format
@model.learning_format
```

<!-- Что вы получаете -->
```acquired_skills
@model.acquired_skills
```